<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="FarmaciaConnection" connectionString="Data Source=.\;Initial Catalog=farmacia;Integrated Security=True"/>
    <add name="MasterConnection" connectionString="Data Source=.\;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MedicamentosServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14852/MedicamentosService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MedicamentosServiceSoap"
        contract="MedicamentosService.MedicamentosServiceSoap" name="MedicamentosServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>