<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="FarmaciaConnection" connectionString="Data Source=.\SQL14_UAI;Initial Catalog=farmacia;Integrated Security=True"/>
    <add name="MasterConnection" connectionString="Data Source=.\;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>
</configuration>